*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    border-radius: 12px;
    box-shadow: rgba(173, 173, 173, 0.795) 3px 3px 13px 3px,rgba(173, 173, 173, 0.795) -3px -3px 13px 3px;
    /* background-color: white; */
    /* background-color: rgb(111, 129, 214); */

}
.heading{
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(82, 129, 224);
    border-radius: 12px 12px 0px 0px;
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
    color: white;
    align-items: center;
    
    
    /* background: linear-gradient(to top right, rgba(64, 93, 230), rgba(88, 81, 216),rgba(131, 58, 180), rgba(193, 53, 132)); */

    /* background: linear-gradient(to top right, rgba(64,93,230),black); */
    padding: 12px 50px;
}
.heading-light-bg{
    background: linear-gradient(to top right, rgba(64, 93, 230), rgba(88, 81, 216),rgba(131, 58, 180), rgba(193, 53, 132));
}
.heading-dark-bg{
    background: linear-gradient(to top right, rgba(64,93,230),black);
}
.heading h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.heading-logo{
    height: 40px;
}
.heading-title{
    display: inline-block;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10px;
}
.message-container{
    padding: 20px;
    height: 400px;
    width: 800px;
    overflow-y: scroll;
    margin-bottom: 20px;
}

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
    background: rgb(187, 187, 187);
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(136, 136, 136);
}

.friend-message{
    margin-bottom: 20px;
    float: left;
    clear: both;
}
.mymessage{
    float: right;
    clear: both;
}
.join-message{
    display: flex;
    justify-content: center;
    clear: both;
}
.message-send form{
    padding: 2px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
}
.message-send textarea{
    width: 700px;
    height: 30px;
    padding:5px 20px;
    outline: none;
    resize: none;
    border-radius: 4px;
}
form button{
    border: 1px solid rgb(153, 153, 153);
    padding: 4px 8px;
    border-radius: 4px;
}
button:hover{
    filter: brightness(120%);
}
button:active{
    transform: scale(.96);
}
.friend-message, .mymessage{
    border: 1px solid rgb(172, 172, 172);
    border-radius: 10px;
    width: 360px;
    margin: 10px;
    background-color: white;
}
.username{
    padding: 3px 15px;
    font-size: .9rem;
    font-weight: 800;
    background-color: rgb(117, 201, 62);
    background-color: rgb(77, 121, 207);
    
    background: linear-gradient(to top right,rgb(129, 35, 192), rgb(193, 97, 53));
    
    /* background: linear-gradient(to top right,rgba(64,93,230),rgb(25, 53, 190),rgb(0, 0, 62)); */



    color: white;
    border-radius: 10px 10px 0px 0px;
}
.username p{
    padding: 2px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.message{
    margin: 10px 10px;
    margin-bottom: 10px;
    font-size: .85rem;
}

.typingMessageBox{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .9rem;
    margin-bottom: 8px;
    color: rgb(2, 80, 2);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.time{
    font-family:'Times New Roman', Times, serif;
    font-size: .75rem;
    float: right;
    margin: 0px 8px 4px;
    color: rgb(104, 102, 102);
}

@media(min-width:715px) and (max-width:820px){
    .message-container{
        width: 700px;
    }
    .friend-message, .mymessage{
        width: 330px;
    }
    .message-send textarea{
        width: 600px;
        height: 30px;
    }    
}

@media(min-width:515px) and (max-width:715px){
    .message-container{
        width: 500px;
    }
    .friend-message, .mymessage{
        width: 250px;
    }
    .message-send textarea{
        width: 380px;
        height: 30px;
    }
    .time{
        font-size: .7rem;
    }
}
@media(min-width:415px) and (max-width:515px){
    .heading{
        font-size: .68rem;
        padding: 10px 9px;
        align-items: center;
    }
    .message-container{
        width: 395px;
        padding: 5px;
    }
    .friend-message, .mymessage{
        width: 150px;
    }
    .message-send textarea{
        width: 310px;
        height: 30px;
    }
    .username p{
        font-size: .7rem;
    }
    .message{
        font-size: .65rem;
        margin-bottom: 5px;
    }
    button{
        font-size: .7rem;
    }
    .typingMessageBox{
        font-size: .73rem;
    }
    .heading-logo{
        height: 30px;
    }
    .light-dark img{
        height: 30px;
    }
    .time{
        font-size: .63rem;
    }
}
@media(min-width:360px) and (max-width:415px){
    .heading{
        font-size: .68rem;
        padding: 10px 9px;
        align-items: center;
    }
    .message-container{
        width: 330px;
        padding: 5px;
    }
    .friend-message, .mymessage{
        width: 150px;
    }
    .message-send textarea{
        width: 260px;
        height: 30px;
    }
    .username p{
        font-size: .7rem;
    }
    .message{
        font-size: .65rem;
        margin-bottom: 5px;
    }
    button{
        font-size: .7rem;
    }
    .typingMessageBox{
        font-size: .73rem;
    }
    .heading-logo{
        height: 30px;
    }
    .light-dark img{
        height: 30px;
    }
    .time{
        font-size: .65rem;
    }
}
@media(min-width:310px) and (max-width:360px){
    .heading{
        font-size: .68rem;
        padding: 10px 9px;
        align-items: center;
    }
    .message-container{
        width: 300px;
        padding: 5px;
    }
    .friend-message, .mymessage{
        width: 150px;
    }
    .message-send textarea{
        width: 210px;
        height: 30px;
    }
    .username p{
        font-size: .7rem;
    }
    .message{
        font-size: .65rem;
        margin-bottom: 4px;
    }
    button{
        font-size: .7rem;
    }
    .typingMessageBox{
        font-size: .73rem;
    }
    .heading-logo{
        height: 30px;
    }
    .light-dark img{
        height: 30px;
    }
    .time{
        font-size: .62rem;
    }
}
@media(max-width:310px){
    .heading{
        font-size: .68rem;
        padding: 10px 9px;
        align-items: center;
    }
    .message-container{
        width: 280px;
        padding: 5px;
    }
    .friend-message, .mymessage{
        width: 150px;
    }
    .message-send textarea{
        width: 210px;
        height: 30px;
    }
    .username p{
        font-size: .7rem;
    }
    .message{
        font-size: .65rem;
        margin-bottom: 2px;
    }
    button{
        font-size: .7rem;
    }
    .typingMessageBox{
        font-size: .73rem;
    }
    .heading-logo{
        height: 30px;
    }
    .light-dark img{
        height: 30px;
    }    
    .time{
        font-size: .57rem;
    }
}


body{
    /* background-color: #00060d; */
    background-color: rgb(240, 234, 234);
    background-image: url("https://www.transparenttextures.com/patterns/skulls.png");

}

.light-dark {
    display: flex;
    align-items: center;
}
img:active{
    transform: scale(.9);
}

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Courgette&display=swap');
.join-message{
    color: rgb(215, 96, 21);
    font-weight: 700;
    font-family: 'Anton', sans-serif;
}
#typing-text{
    color: rgb(215, 96, 21);
    font-weight: 700;
    font-family: 'Anton', sans-serif;
}
